<!doctype html>
<html>
    <head>
        <title>b3tty setup</title>
        <link rel="shortcut icon" href="/assets/favicon.ico" />
    </head>
    <body>
        <b3tty-theme-selector></b3tty-theme-selector>
    </body>
    <script type="module" src="/assets/terminal.min.js"></script>
</html>
