<!doctype html>
<html>
    <head>
        <title>{{ if .Title }}{{ .Title }}{{ else }}b3tty{{ end }}</title>
        <link rel="stylesheet" href="/assets/xterm.6.0.0.min.css" />
        <link rel="stylesheet" href="/assets/terminal.css" />
        <link rel="shortcut icon" href="/assets/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <div id="bell" class="bell">🔔</div>
            <div id="terminal"></div>
            <div id="profile">{{ if ne .Title "b3tty" }}Profile: {{ .Title }}{{ end }}</div>
        </div>
    </body>
    <script nonce="{{ .Nonce }}">window.B3TTY = {{ .ConfigJSON }};</script>
    <script type="module" src="/assets/terminal.min.js"></script>
</html>
