<!doctype html>
<html>
    <head>
        <title>{{ if .Title }}{{ .Title }}{{ else }}b3tty{{ end }}</title>
        <link rel="stylesheet" href="/assets/xterm.6.0.0.min.css" />
        <link rel="stylesheet" href="/assets/terminal.css" />
        <link rel="shortcut icon" href="/assets/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <b3tty-menu-bar id="menubar"></b3tty-menu-bar>
            <div id="bell" class="bell">🔔</div>
            <div id="terminal"></div>
            <div id="profile">{{ if ne .ProfileName "default" }}Profile: {{ .ProfileName }}{{ end }}</div>
            <b3tty-dialog id="dialog"></b3tty-dialog>
        <b3tty-theme-picker id="theme-picker"></b3tty-theme-picker>
        <b3tty-theme-editor id="theme-editor"></b3tty-theme-editor>
        <b3tty-profile-editor id="profile-editor"></b3tty-profile-editor>
        </div>
    </body>
    <script nonce="{{ .Nonce }}">window.B3TTY = {{ .ConfigJSON }};</script>
    <script type="module" src="/assets/terminal.min.js"></script>
</html>
